{% extends "network/layout.html" %}

{% block body %}
<div class='container'>
    <div class="comments mt-5 ">
        {% if user.is_authenticated %}

        <h2>New Post </h2>

        <form action="" method="POST" name="content">
            {% csrf_token %}
            <textarea name="content" class="form-control" rows="2" cols="10" id="compose-body"></textarea>
            <input type="submit" value="Post" class="btn btn-primary" />
        </form>
        {% endif %}

    </div>

    {% for post in posts %}

    <div class="card comment-box">
        <div class="card-header">
            <strong><a href="{% url 'user_profile' username=post.author %}">{{post.author}}</a></strong>

            <span class="text-muted">posted {{post.date_created}}</span>
        </div>
        <div class="card-body">
            {{post.content}}
        </div>
    </div>
    {% endfor %}



    {% endblock %}